{:title "Test Level"
 :items []
 :item-limit 20
 :system-entities [:clock :item-spawner]
 :enemies [:guard :shopper :cultist]
 :entities []
 :map-data
 ["xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  "xx________________________________________________________________________________________xx"
  "xx________________________________________________________________________________________xx"
  "xx________________________________________________________________________________________xx"
  "xx__________xxxxxxxxxxxxx_______________________________xxxxxxxxxxx_______________________xx"
  "xx_______________x______xxxxxxx_________________________x_________x_______________________xx"
  "xx_______________x______x____________________o__________x_________x_xxxxxxxxx_____________xx"
  "xx_______________x______x_______________________________x_________x____x__________________xx"
  "xx_______________x______xxxxxxxxxxxxxxxxx_______________x_________x____x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______xxxxxxxxxxxxxx_______xxxxxxxxxxxx______________x__________________xx"
  "xx_______________x_____________________________________________________x__________________xx"
  "xx______________________xxxxxxxxxx_________________xxxxxxxxxxxx________x__________________xx"
  "xx________________x_____x__________________________x____________xxxxxxxx__________________xx"
  "xx________________x_____xxxxxxxxxxxx_x_______x_____xxxxxx_______x_________________________xx"
  "xx________________x_____x____________x_______x_____x____________x_________________________xx"
  "xx________________x_____xxxxxxx______x_______x_____xxxxxxxx_____x_________________________xx"
  "xx________________x___________________x______x__________________x_________________________xx"
  "xx________________xxxxxxxxxxxxxxxx_____xxxxxxx__________________x_________________________xx"
  "xx______________________________________________________________xxxxxxxx__________________xx"
  "xx________________________________________________________________________________________xx"
  "xx________________________________________________________________________________________xx"
  "xx________________________________________________________________________________________xx"
  "xx________________________________________________________________________________________xx"
  "xx__________xxxxxxxxxxxxx_______________________________xxxxxxxxxxx_______________________xx"
  "xx_______________x______xxxxxxx_________________________x_________x_______________________xx"
  "xx_______________x______x____________________o__________x_________x_xxxxxxxxx_____________xx"
  "xx_______________x______x_______________________________x_________x____x__________________xx"
  "xx_______________x______xxxxxxxxxxxxxxxxx_______________x_________x____x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______x____________________x__________x______________x__________________xx"
  "xx_______________x______xxxxxxxxxxxxxx_______xxxxxxxxxxxx______________x__________________xx"
  "xx_______________x_____________________________________________________x__________________xx"
  "xx______________________xxxxxxxxxx_________________xxxxxxxxxxxx________x__________________xx"
  "xx________________x_____x__________________________x____________xxxxxxxx__________________xx"
  "xx________________x_____xxxxxxxxxxxx_x_______x_____xxxxxx_______x_________________________xx"
  "xx________________x_____x____________x_______x_____x____________x_________________________xx"
  "xx________________x_____xxxxxxx______x_______x_____xxxxxxxx_____x_________________________xx"
  "xx________________x___________________x______x__________________x_________________________xx"
  "xx________________xxxxxxxxxxxxxxxx_____xxxxxxx__________________x_________________________xx"
  "xx______________________________________________________________xxxxxxxx__________________xx"
  "xx________________________________________________________________________________________xx"
  "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"]}
